SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SHOPIFY_APP_CONFIGS=
SCOPES=read_products,write_products,read_files,write_files,read_translations,write_translations,read_metaobjects,write_metaobjects,read_metaobject_definitions
SHOPIFY_CUSTOM_DOMAIN=
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tara_product_editor?schema=public
